<mat-toolbar>
        <mat-toolbar-row>
          
          <span>Configurator</span>
          <span class="example-spacer"></span>
          <span *ngIf="this.currentUser"> <mat-icon>account_circle</mat-icon> <small>{{this.currentUser.email}}</small></span>
         <button mat-raised-button id="login" *ngIf="!this.currentUser" (click)="openDialog('login')"> Login </button>
         <button mat-raised-button id="register" *ngIf="!this.currentUser" (click)="openDialog('register')"> Register </button>
         <button mat-raised-button id="signout" *ngIf="this.currentUser" (click)="signOut(this.currentUser)"> SignOut </button>
        </mat-toolbar-row>
      </mat-toolbar>
      
<router-outlet></router-outlet>